{%extends "layout.html" %}

{% block title %}Administrator Home Screen{% endblock %}
{%block body%}
	    <center>
	    	<h2> Administrator Dashboard </h2>
	    	<br>
	    <center>
	    	<a href="{{ url_for('create_user')}}">
	    	<button>Create New User</button></a>
	    	 &nbsp &nbsp &nbsp &nbsp &nbsp
	    	 <a href="{{ url_for('add_New')}}">
	    	 <button>Add New Record</button></a>
	    	<br> <br> <br>

	    	<a href="{{ url_for('search')}}">
	    		<button>Search Record</button>
	    	</a>
	    	 &nbsp &nbsp &nbsp &nbsp &nbsp
	    	 <a href="{{ url_for('view')}}">
	    	  <button>View All Records</button>
	    	</a>
	    	<br><br>
	    	&nbsp &nbsp &nbsp &nbsp &nbsp
	    	<a href="{{ url_for('logout')}}">
	    		<button>Log Out</button>
	    	</a>
	    </center>
	    </center>
 {% endblock %}
