<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width ,initial-scale=1">
	    <title>Administrator Home Screen</title>
	    <style>
		    body {  
       font-family: Calibri, Helvetica, sans-serif;  
       background-color: white;}  
			button {   
       background-color: #4CAF50;   
       width: 25%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;}

        button:hover {   
        opacity: 0.7;}
    </style>
    </head>
    <body>
    	<center><h1 style = "color : red;"> ASTRA </h1></center>
	    <hr>
	    <center>
	    	<h2> Administrator Dashboard </h2>
	    	<br>
	    <center>
	    	<button>Create New User</button>
	    	 &nbsp &nbsp &nbsp &nbsp &nbsp
	    	 <form action="/add_New">
	    	 <button>Add New Record</button>
	    	</form>
	    	<br> <br> <br>
	    	<form action="/search">
	    		<button>Search Record</button>
	    	</form>
	    	 &nbsp &nbsp &nbsp &nbsp &nbsp
	    	 <form action="/view">
	    	  <button>View All Records</button>
	    	</form>
	    	<br><br><br>
	    	&nbsp &nbsp &nbsp &nbsp &nbsp
	    	<form action="/logout">
	    		<button>Log Out</button>
	    	</form>
	    </center>
	    </center>
	</body>
	</html>
