{%extends "layout.html" %}

{% block title %}Search by Name{% endblock %}
{%block body%}
	    <center>
	    	<h2> Search By Name </h2>
	    	<br>
	    <form>  
        <div class="container">   
            <center><label>Full Name : </label>   
            <input type="text" placeholder="Enter Full name" name="Fullname" required>  </center></br>
            <center><label>Father's Name : </label>   
            <input type="text" placeholder="Enter Father's name" name="FatherName">  </center></br></br> 
            <button type="submit">Find</button>   
        </div>   
    </form>
    <br>
   <a href="{{ url_for('search')}}"> <button style = "color : red;"> Back to Search Menu </button></a>
	</center>
    {% endblock %}