<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width ,initial-scale=1">
	    <title>Search by Name</title>
	    <style>
		    body {  
       font-family: Calibri, Helvetica, sans-serif;  
       background-color: white;}  
			button {   
       background-color: #4CAF50;   
       width: 25%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;}

        button:hover {   
        opacity: 0.7;}
    </style>
    </head>
    <body>
    	<center><h1 style = "color : red;"> ASTRA </h1></center>
	    <hr>
	    <center>
	    	<h2> Search By Name </h2>
	    	<br>
	    <form>  
        <div class="container">   
            <center><label>Full Name : </label>   
            <input type="text" placeholder="Enter Full name" name="Fullname" required>  </center></br>
            <center><label>Father's Name : </label>   
            <input type="text" placeholder="Enter Father's name" name="FatherName">  </center></br></br> 
            <button type="submit">Find</button>   
        </div>   
    </form>
    <br>
    <button style = "color : red;"> Back to Search Menu </button>
	</center>
    </body>
	</html>