{%extends "layout.html" %}

{% block title %}Search by Location{% endblock %}
{%block body%}
	    <center>
	    	<h2> Search By Location </h2>
	    	<br>
	    <form>  
        <div class="container">   
            <center><label>Full Name : </label>   
            <input type="text" placeholder="Enter Full name" name="Fullname" required>  </center></br>
        <label>Village : </label>
        <select name="Village">
            <option value = "Shammipur" selected="selected">Shammipur</option>
            <option value = "Bandipore">Bandipore</option>
        </select>
        &nbsp &nbsp &nbsp &nbsp
        <label>Tehsil : </label>
        <select name="Tehsil">
            <option value = "Jigna" selected="selected">Jigna</option>
            <option value = "Aloosa">Aloosa</option>
        </select>
        <br>
        <br>
            <center><label>Latitude : </label>   
            <input type="text" placeholder="Enter Latitude" name="Latitude">
            <label>Longitude : </label>   
            <input type="text" placeholder="Enter Longitude" name="Latitude"> </center></br></br> 
            <button type="submit">Find</button>   
        </div>   
    </form>
    <br>
    <a href="{{ url_for('search')}}"><button style = "color : red;"> Back to Search Menu </button></a>
	</center>
    {% endblock %}