{%extends "layout.html" %}

{% block title %}Search Menu{% endblock %}
{%block body%}
	    <center>
	    	<h2> Search Records </h2>
	    	<br>
	    	<h3> Choose Search Criteria </h3>
	    <center>
	    	<br> <br> <br><br>
	    	<a href="{{ url_for('search_name')}}"><button>Search by Name</button></a>
	    	 &nbsp &nbsp &nbsp &nbsp &nbsp
	    	  <a href="{{ url_for('search_location')}}"><button>Search by Location</button></a>
	    	<br><br><br>
	    	&nbsp &nbsp &nbsp &nbsp &nbsp
	    	<a href="{{ url_for('back')}}">
	    		<button>Back to Homescreen</button>
	    	</a>
	    </center>
	    </center>
{% endblock %}